.titulo{text-align: center;
background-color: black;
color: white;
padding: 20px;
font-size:25px ;
}
html, body{margin: 0px;
background-color: #2f4f30;
color:white;}
.carta{position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}
#computadora, #jugador{height:250px;}